force-app/main/default/flows/previous_country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>add_contacts</name>
        <label>add contacts</label>
        <locationX>574</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>check</name>
        <label>check</label>
        <locationX>652</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>loop_through_contacts.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_contacts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>previous country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>previous country</label>
    <loops>
        <name>loop_through_contacts</name>
        <label>loop through contacts</label>
        <locationX>482</locationX>
        <locationY>380</locationY>
        <collectionReference>get_related_contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_related_contact</name>
        <label>get related contact</label>
        <locationX>295</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_contacts</name>
        <label>update contacts</label>
        <locationX>498</locationX>
        <locationY>195</locationY>
        <inputReference>contactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>43</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>get_related_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ShippingCountry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>contactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PreviousCountry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
