force-app/main/default/flows/update_related_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>add_contacts</name>
        <label>add contacts</label>
        <locationX>736</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_contact</name>
        <label>assign contact</label>
        <locationX>855</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>loop_contacts.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_contacts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>update related contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update related contacts</label>
    <loops>
        <name>loop_contacts</name>
        <label>loop contacts</label>
        <locationX>611</locationX>
        <locationY>177</locationY>
        <collectionReference>Update_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Update_Related_Contacts</name>
        <label>Update Related Contacts</label>
        <locationX>476</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Record</name>
        <label>update Record</label>
        <locationX>708</locationX>
        <locationY>31</locationY>
        <inputReference>contactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>43</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Update_Related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
